@import "general";
@import "media";

html {
  font-size: 18px;
}

  @media screen and ( max-width:768px) {
    html {
      font-size: 17px;
    }
  }
  @media screen and ( max-width:480px) {
    html {
    font-size: 4vmin;
  }
}

body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Alegreya Sans';
  font-style: normal;
  line-height: 1.20;
  position: relative;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: normal;
}

.table {
  border-collapse: collapse;
}

.img {
  display: block;
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.container {
  max-width: $containerWidth;
  margin: 0 auto;
  width: 100%;
}


.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reason__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

