@import "media";
.hero__button-wrapper {
  max-width: 9.61rem;
}

.button {
  font-size: rem(16px);
  font-weight: bold;
  padding: rem(24px) rem(52px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: none;


  &__color_white {
  background-color: white;
  color: #365A49;

&:hover {
color: white;
  background-color: #365A49;

  }}}

.button__color_green {
   background-color:#365A49;
   color: white;

 &:hover {
   color: #365A49;
   background-color: white;
 }}

.button__color_none {
  background-color:transparent;
  font-weight: normal;
  text-transform: none;

  &:hover {
    color:#365A49;
  }
}