.composition {
  display: flex;
  background: #F8FAF9;
  position: relative;
}

.composition__item {
  display: flex;
}

.composition__title {
  font-size: rem(36px);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: rem(14px);
}

.composition__text {
  font-size: rem(18px);
  color: #666666;
  margin-bottom: rem(24px);
}

.composition__info {
  display: flex;
  margin-bottom: rem(24px);
}

.composition__info-cell {
  padding-right: rem(44px);

  &:last-child {
    padding-right: 0;
  }
}

.composition__order {
  display: flex;

}

.composition__price {
  margin-right: rem(44px);
  font-size: rem(60px);
}

.icon-bits {
  width: 46px;
  height: 46px;
  display: block;
  transform: translate(38%, 20%);
  fill: white;
  margin-bottom: 10px;
}

.icon-grape {
  width: 20px;
  height: 20px;
}

.composition__text-menu {
  text-align: center;
  color: white;
}

.composition__menu {
  width: rem(91px);
  height: rem(91px);
  background-color: #86C3D7;
  position: absolute;
  transform: translate(642%, -85%);
  border-radius: 0.3125rem;
  cursor: pointer;
}

.composition__list-menu {
  padding: rem(10px) 0;
  position: absolute;
  top: rem(-18px);
  left: rem(100px);
  background-color: #ffffff;
  opacity: 0.9;
  width: 16.875rem;
  border-radius: 0.3125rem;
  overflow: hidden;
}

.composition__item-menu {
  display: flex;
  justify-content: space-evenly;
}



@media screen and (max-width: 768px) {

  .composition__image-elem {
    height: rem(285px);
    width: rem(300px);
  }
  .composition__container {
    display: flex;
    flex-direction: column;
  }

  .composition__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .composition__deck {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .composition__text {
    padding: 0 rem(100px);
  }
}





