.composition {
  display: flex;
  background: #F8FAF9;
  position: relative;
}

.composition__container {

  .bx-wrapper {
    background: transparent;
    height: 100%;
    border: none;
    box-shadow: none;
  }
  .bx-viewport {
    height: 100% !important;
  }

  .bx-wrapper img {
    display: inline-block;
  }
}

.composition-slider__arrow a {
  position: absolute;
  top: 50%;
  margin-top: rem(-16px);
  outline: 0;
  width: rem(32px);
  height: rem(32px);
  text-indent: -9999px;
  z-index: 9999;
}

.composition-slider__arrow-prev {
  right: 5%;
  background: url("../img/right.png") no-repeat;

}

.composition-slider__arrow-next {
  left: 5%;
  background: url("../img/left.png") no-repeat;
}




.composition__item {
  display: flex;
}

.composition__title {
  font-size: rem(36px);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: rem(14px);
}

.composition__text {
  font-size: rem(18px);
  color: #666666;
  margin-bottom: rem(24px);
}

.composition__info {
  display: flex;
  margin-bottom: rem(24px);
}

.composition__info-cell {
  padding-right: rem(44px);

  &:last-child {
    padding-right: 0;
  }
}

.composition__order {
  display: flex;

}

.composition__price {
  margin-right: rem(44px);
  font-size: rem(60px);
}

.icon-bits {
  width: 46px;
  height: 46px;
  display: block;
  transform: translate(38%, 20%);
  fill: white;
  margin-bottom: 10px;
}

.icon-svg {
  width: 20px;
  height: 20px;
}

.composition__text-menu {
  text-align: center;
  color: white;
}

.composition__menu {
  width: rem(91px);
  height: rem(91px);
  background-color: #86C3D7;
  position: relative;
  border-radius: 0.3125rem;
  cursor: pointer;
  margin-bottom: rem(10px);

}

.composition__list-menu {
  padding: rem(10px) rem(30px);
  position: absolute;
  left: rem(-9999px);
  background-color: #ffffff;
  opacity: 0.9;
  width: 16.875rem;
  border-radius: 0.3125rem;
  overflow: hidden;
  top:rem(-1px)
}

.composition__item-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(30px);

  &:last-child {
    margin-bottom: 0;
  }
}

.composition__menu:hover .composition__list-menu {
  left: 100%;
}


@media screen and (max-width: 768px) {

  .composition__image-elem {
    height: rem(285px);
    width: rem(300px);
  }
  .composition__container {
    display: flex;
    flex-direction: column;
  }

  .composition__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .composition__deck {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .composition__text {
    padding: 0 rem(100px);
  }

  .composition__menu {
    display:none
  }

  .composition__item-menu {
    flex-direction: column;
    text-align: center;
  }

  .composition__list {
    padding: 0;
  }
}





