
.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  text-decoration: none;
  font-size: rem(24px);
  align-items: center;
  white-space: nowrap;

  .contact__icon {
    margin-right: rem(6px);
  }
}

@media screen and ( max-width:768px) {
  .header {
    padding: rem(31px) rem(45px) 0 rem(30px);
  }}



