
.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  text-decoration: none;
  font-size: rem(24px);
  display: flex;
  align-items: center;
  white-space: nowrap;

  .contact__icon {
    margin-right: rem(6px);
  }
}



