
.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 84px;
}

.contact {
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;

  .contact__icon {
    margin-right: 6px;
  }
}



