.review__switch {
  display:flex;
  align-items: center;
  justify-content: center;
}
.interactive-avatar {
  width: rem(74px);
  height: rem(74px);
  border-radius: 50%;
  overflow: hidden;
  margin-right: rem(6px);
  border: 6px solid transparent;

  &:hover {
    border-color:#497870;
  }

  &:focus {
    border-color:#497870;
  }

  &_active {
    border-color:#497870;

  &:last-child {
    margin-right: 0;
}}}

.interactive-avatar__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}