@import "media";
.menu {
  margin: 0 30px;
  display: flex;
  justify-content: center;
}
.menu__list {
  display: flex;
  text-align: center;
  justify-content: center;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.menu__item {
  margin-right: 1.5rem;

&:last-child {
  margin-right: 0;}}

.menu__icon {
  display: none;
}

.adaptive-menu {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2f3234f5;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}

.adaptive__menu-close {
  color: #ffffff;
  opacity: 0.7;
  font-size: 2.8125rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 3%;
  right: 5%;
  cursor: pointer;
}

.adaptive__link {
  text-decoration: none;
}

.adaptive__item {
  font-size:rem(36px) ;
  text-align: center;
  font-weight: normal;
  padding-bottom: rem(51px);
}


@media screen and ( max-width:768px) {
  .header {
    padding: rem(31px) rem(45px) 0 rem(30px);
  }

  .menu {
    @include tablets {
      display: none;

    }
  }
  .header__contact {
    @include tablets {
      display: none;
    }
  }

  .menu__drp {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.875rem;
    height: 1.875rem;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .menu__top-line {
    display: block;
    width: inherit;
    height: 0.375rem;
    border-radius: 0.125rem;
    background-color: #ffffff;
  }
  .menu__middle-line {
    display: block;
    width: inherit;
    height: 0.375rem;
    border-radius: 0.125rem;
    background-color: #ffffff;
  }
.menu__low-line {
  display: block;
  width: inherit;
  height: 0.375rem;
  border-radius: 0.125rem;
  background-color: #ffffff;
}
}