.order-section {
  background: url(../img/background-form.png);
  position: relative;
  color: #365A49;

  &:before {
    content: url("../img/one berry.png");
    left: 5%;
    position: absolute;
    bottom: 20px;

    &:after {
      content: url("../img/leaft-section.png");
      position: absolute;
    }
  }
}
.border__title {
  font-size: 48px;
  margin-bottom: 83px;
}

