.order-section {
  background: url(../img/background-form.png);
  position: relative;
  color: #365A49;

  &:before {
    content: url("../img/one berry.png");
    left: 5%;
    position: absolute;
    bottom: 20px;


  }}

    .order-section:after {
      content: url("../img/leaft form.png");
      right: 5%;
      position: absolute;
      bottom: 20px;
    }

.order-section__container:before {
    content: url("../img/berry form.png");
    position: absolute;
    right:0;
    top:rem(-131px);
}


.border__title {
  font-size: 48px;
  margin-bottom: 83px;
}

@media screen and ( max-width:415px) {
  .order-section__container:before {
    display: none;
  }
}

