.player {
  height: 100%;
  background: url("../img/Rectangle 9.png") no-repeat center;

}

.player-section__container {
height: 100%;
}

.player__splash {
  background: url("../img/play big.png");
}

.player__toolbar {
  height: 2.1875rem;
  background-color: #3e3e3e;
  display: flex;
}