.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &:before {
      display: block;
    }
  }
}

.checkbox__elem {
  display: none;

  &:checked ~ .checkbox__visible {
    &:before {
      display: block;
    }
  }
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: white;
  margin-right: 10px;
}

.checkbox__visible {
  width: 26px;
  height: 26px;
  position: relative;
  background: white;
  margin-right: 10px;
}

.radio__visible:before {
  content:"";
  width: 14px;
  height: 14px;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox__visible:before {
  content:"";
  position: absolute;
  top: 25%;
  left: 25%;
  height: 4px;
  width: 9px;
  border-left: 6px solid;
  border-bottom: 6px solid;
  transform: rotate(-45deg);
  display: none;
}
.radio {
  display: flex;
  cursor: pointer;
  user-select: none;

  &_checkbox {
    .radio__visible {
      border-radius: 0;
    }

    &:before {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.radio__title {
  margin-right: 23px;
  margin-bottom: 21px;
}
