.headline {
  text-align: center;
  margin-bottom: rem(49px);
}

.section__title {
  font-size: rem(48px);
  font-weight: bold;
  text-align: center;
}

.headline__title {
  margin-bottom: rem(19px);
}

.section__subtitle {
  color: #666666;
}

.reason__list {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}

.reason__item {
  padding: 0 rem(24px);
  position: relative;

  &:before {
    content: url("../img/Combined shape 2204.png");
    position: absolute;
    top: 30px;
    right: 0;
    transform: translateX(50%);
  }
}

.reason__item:first-child {
      padding-left: 0;
}

.reason__item:last-child {
  padding-right: 0;
  &:before {
    display: none;
  }
}

.reasons {
  text-align: center;
}

.reason__image-wrapper {
  display: inline-block;
  width: rem(128px);
  height: rem(128px);
  background: #F2F5F4;
  border-radius: 50%;
  position: relative;
}

.reason__title {
  font-size: 27px;
  font-weight: bold;
}

.reason__icon {
  background: url("../img/leaft-section.png") left 73% no-repeat;

  &:before {
    content: url("../img/berry.png");
    position: absolute;
    margin-bottom: -645px;
    left: 0%;
  }
}

@media screen and ( max-width:768px) {
  .reason__list {
    padding: 0 5%;
  }
  .reason__item {
    &:before {
      display: none;
    }
  }
}

@media screen and ( max-width:415px) {

  .reason__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .reason__list {
    flex-direction: column;
  }

  .headline {
    margin-bottom: rem(30px);
  }

  .reason__item {
    display: flex;
    padding: 0;
    margin-bottom: 10%;
  }

  .reason__item {
    margin-bottom: 10%;
  }
}