.reviews {
  background: url("../img/rasberry.png") right top 10% no-repeat;
  position: relative;

  &:before {
    content: url("../img/leaft-review.png");
    position: absolute;
    left: 0;
    bottom: -15%
  }
}

.reviews:after {
  content: url("../img/mix-berry.png");
  position: absolute;
  left: 0;
  bottom: -15%;
  z-index: 1;
}

.review__display {
  padding: 42px 42px 42px 42px;
  background: url("../img/bush.png") right no-repeat #F8FAF9;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    background: #fff;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: -65px
  }
}

.review__display-inner {
  display: flex;
  justify-content: space-between;
}

.review__avatar {
  width: 254px;
  height: 260px;
  margin-right: 38px;
}

.review__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.review__content {
  flex: 1;
}

.review__title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 12px;
}

.review__desc {
  color: #666666;
  margin-bottom: 25px;
}

.review__author {
  font-weight: bold;
}

.review__display-inner {
  display: flex;
}

review__display {
  padding: 24px 24px;
}

@media screen and (max-width: 768px) {
  .review__display-inner {
    flex-direction: column;
    text-align: center;
  }
  .review__avatar {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 480px) {
  .reviews__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .reasons {
    margin-bottom: rem(9px);
  }

  .reason__icon:before {
    display: none;
  }
}


